<!-- contact.ejs -->

<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contactez-nous</title>
    <link rel="stylesheet" href="/styles.css">
</head>
<body>
    <!-- Inclusion du menu de navigation -->
    <%- include('header') %>

    <div class="container">
        <h1>Contactez-nous</h1>
        <p>Contactez-nous à <a href="mailto:question@jukebox.com">question@jukebox.com</a></p>
    </div>
</body>
</html>
