<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Examen Intra NTE - Adam Brillon</title>
    <link rel="stylesheet" href="/styles.css" />
  </head>
  <body>
    <%- include('header') %>
    <!-- Inclusion du menu de navigation -->

    <div class="container">
      <h1>Bienvenue à notre JukeBox</h1>
    </div>
  </body>
</html>
